body {
    background-color: rgb(200, 200, 200);
    color: rgb(125, 0, 125);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 20px;
    padding: 30px;
}
h1 {
    font-family:serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    text-shadow: 2px 2px rgb(125, 0, 125);
    font-size: 39px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 0 0 30px 0;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    border: 2px rgb(0, 0, 0) solid;
    padding: 10px;
    border-top-right-radius: 25px;
    background-color: rgb(150, 150, 150);
    box-shadow: 2px 2px;
}
p {
    text-indent: 50px;
    line-height: 1.5;
}
img {
    display: block;
    margin: 0px auto;
}
section {
    margin: 10px 0;
    padding: 10px;
}
.experience-list li{
    list-style-type: none;
    background-color:rgb(255, 255, 255);
    border: 2px solid rgb(125, 0, 125);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(0, 0, 0);
    text-align: center;
    margin: 15px 50px 0 0;
}
.experience-list li:hover {
    transform: translateY(-5px);
}
.connect-links li {
    list-style-type: none;
    margin: 40px 0;
    padding: 0px;
}
.connect-links li a {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(125, 0, 125);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 2px 2px rgb(125, 0, 125);
}
.connect-links li a:hover {
    background-color: rgb(125, 0, 125);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 150);
    box-shadow: 2px 2px rgb(0, 0, 150);
    transform: translateY(-5px);
}